.main {
	background-color: white;
	margin-top: 50px;
	border-radius: 20px;	
	padding: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: crimson;
}

a {
	color: crimson;
}

a:hover {
	color: pink;
}
.nav-link {
	font-family: 'Courier New';
}

h1 {
	font-family: 'Courier New';
	color: rgb(173, 105, 16);
	text-align: center;
}

div#content
{
	border: 2px solid black;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
	width: auto;
	height: auto;
}

button#button1
{
	margin-top: 30px;
	width: 35%;
}

button#button2
{
	margin-top: 30px;
	width: 35%;
}

div.tab-content
{
	padding-top: 20px;
}

div#error-msg
{
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
	color: red;
}

div#change-msg p
{
	margin-top: 20px;
	margin-left: -75px;
	margin-right: -75px;
}

p.error
{
	color: red;
}

p.msg
{
	color: black;
}

p.congrat
{
	color: green;
}

div#profile
{
	height: auto;
	width: auto;
}